<div class="header">

<!--Content before waves-->
<div class="inner-header flex">
<!--Just the logo.. Don't mind this-->
<h1 class="text-center mt-5 text-white">MPay</h1>
<section class="container position-fixed bottom-0 w-100">
 
</section>
</div>

<!--Waves Container-->
<div class="mb-5">
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(55,120,194,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(55,120,194,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(55,120,194,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->

 <%= button_to 'LOG IN', new_user_session_path, method: :get, class:"btn btn-primary w-100" %>
<%= button_to 'SIGN UP', new_user_registration_path, method: :get, class:"btn w-100" %>