/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-nav {
  background: linear-gradient(rgba(55, 172, 193), rgba(55, 120, 194));
 }

 .nav-i {
  width: 40px;
}

.nav1 {
  position: absolute;
  top: 0;
  width: 100%;
}

.login-form {
  margin-top: 40px;
}

.btn-bg {
  background-color: #5fb523;
}

.btn-border1 {
  border: solid 1px white;
}

/* ------------------------------------------------- */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(rgba(55, 120, 194), rgba(55, 172, 193));
  color: white;
  margin-top: -69px;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex { /* Flexbox for containers */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /* Fix for safari gap */
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

.ad-tran {
  border: solid 1px #f1f2f1;
  width: 90%;
  padding-top: 10px;
  color: white;
}

.transaction-m {
  margin-top: 100px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)     infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }

  .menu-bar {
    cursor: pointer;
    z-index: 10;
  }

  .mobile-menu {
    display: none;
    text-align: center;
    opacity: 0.9;
  }
  
  .mobile-menu a {
    font-size: 2em;
    font-weight: 600;
    color: #fafafa;
    opacity: 1;
    text-decoration: none;
    border-bottom: solid 1px #fafafa;
    padding-bottom: 10px;
    margin: 0 20%;
  }
  
  .show {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    align-items: center;
    justify-content: center;
    background:linear-gradient(60deg,rgba(55, 172, 193), rgba(55, 120, 194));
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: slideMe 0.2s ease-in;
  }
  
  @keyframes slideMe {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0%);
    }
  }

  .menu-bar div {
    width: 35px;
    height: 5px;
    background-color: #fafafa;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.13, 0.24, 0.35, 1.64);
  }
  
  .menu-bar .bar1,
  .menu-bar .bar2 {
    margin-bottom: 5px;
  }
  
  .menu-bar.change .bar1 {
    transform: translate(0, 10px) rotate(45deg);
  }
  
  .menu-bar.change .bar2 {
    transform: translateX(55px);
    background-color: transparent;
  }
  
  .menu-bar.change .bar3 {
    transform: translate(0, -10px) rotate(-45deg);
  }
}