<div class="categories container">
  <% @categories.each_with_index do |category, index| %>
    <div class="card mt-4 p-3">
   
      <%= link_to category_path(category.id), class:"text-dark text-decoration-none d-flex gap-3"  do %>
        <%= render partial: "category" , locals: { category: category, index: index } %>
      <% end %> 
    </div>
  <% end %>
</div>

<%= button_to 'New Category', new_category_path, method: :get, class: "fixed-bottom btn btn-success rounded-0" %>

